body {
    background: #0e0e0e;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

header { text-align:center; padding:30px; font-size:2.5rem; color:#ffd700; }
#museum-container { display: grid; grid-template-columns:repeat(auto-fit, minmax(250px,1fr)); gap:25px; padding:20px; }

.comic-card {
    background:#222; border-radius:15px;
    padding:15px; cursor:pointer;
    transition:0.3s;
    border:2px solid #444;
    text-align:center;
}

.comic-card:hover {
    transform:scale(1.05);
    box-shadow:0 0 20px #ffd700;
}

.comic-card h3 { color:#ffcc00; }

.comic-card img { width:100%; height:250px; object-fit:cover; border-radius:10px; }

/* Модальное окно */
#modal {
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.9);
    display:flex; justify-content:center; align-items:center;
}

#modal.hidden { display:none; }

#modal-content {
    position:relative;
    width:90%; height:90%;
    background:#111; border:3px solid #ffd700;
    border-radius:10px;
}

#close-btn {
    position:absolute; top:10px; right:20px;
    font-size:2.5rem; color:#ff0000; cursor:pointer;
}

iframe {
    width:100%; height:100%;
    border:none;
    border-radius:8px;
}
